<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Servicios</h2>
                    <h3 class="section-subheading text-muted">En cuanto a soluciones tecnológicas se refiere, cubrimos casi cualquier necesidad. Pero tenemos más experiencia en ..</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-mobile fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Aplicaciones móviles</h4>
                    <p class="text-muted">Desarrollamos aplicaciones nativas e híbridas para dispositivos móviles </p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Responsive Design</h4>
                    <p class="text-muted">No es ningún secreto que a día de hoy se accede a internet más mediante dispositivos inteligentes que por ordenadores de escritorio o portátiles. Por ese motivo, nuestros diseños web son adaptativos por defecto </p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-connectdevelop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Integración</h4>
                    <p class="text-muted">La integración con aplicaciones externas mediante API's es también una premisa impresindible para otorgar una mejor experiencia de usuario a nuestros clientes  </p>
                </div>
            </div>
        </div>
    </section>